body{
    height: 100vh;
    background-image: url(/images/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #citations-container {
        background: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        #img-auteur-container{
            text-align: center;
            img,h2{
                &.active{
                    animation: 0.5s ease-in 0.1s 1 running forwards showUp;
                }
            }
        }
        #citation-content{
            text-align: center;
            p{
                font-size: 17px;
                
                &.active{
                    animation: 0.5s ease-in 0.1s 1 running forwards showUp;
                }
            }
        }
    }
    #button-random-container {
        position: absolute;
        right: -35px;
        top: 50%;
        transform: translate(0px, -50%);
        @include respond-to("small"){
            position: relative;
            left: 10px;
            top: unset;
            transform: unset;
        }
        button{
            color: #fff;
            background: none;
            border: none;
            font-size: 36px;
        }
    }
}